.card {
  max-width: 350px;

  padding-bottom: 1rem .6rem;
  border: 1px solid gray;
  margin: 1rem;



  &__image {
    width: 100%;

    & img {
      width: 100%;
      height: auto;
    }
  }


  &__content {
    padding: .5rem;
  }


  &__action {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row-reverse;
  }

  &__btn {

    padding: .3rem 1rem;
    margin: .2rem .6rem;

    &--primary {
      order: -1;
      background-color: $primaryAction;
    }
  }


  &__expand {
    max-height: 0;
    overflow: hidden;
    transition: max-height .3s;
  }

  &__expanded {
    max-height: none;
    transition: max-height .3s;
    padding-bottom: .3rem;
  }


}