.search {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;

  input {
    width: 50%;
    font-size: .9rem;
    padding: .2rem;

  }

  .search-row {


    display: flex;
    flex-direction: row;
    justify-content: space-between;

    span {
      display: none;
    }

    select {
      font-size: .9rem;
      padding: .15rem 0;
    }

    button {
      margin-left: .2rem;
      padding: .15rem .3rem;
    }
  }


}

.search-splashscreen {

  display: flex;
  flex-direction: column;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;

  input {
    height: 1.8rem;
    text-align: center;
    font-size: 1.2rem;
  }


  .search-row {
    margin-top: .8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    span {
      font-size: 1.2rem;
      padding-top: .1rem;
    }

    select {
      height: 1.6rem;
      width: 40%;
    }


    button {
      width: 20%;
      background-color: $mainBlue;

    }
  }


  @include md {
    flex-direction: row;
  }




}