@font-face {
  font-family: "nashville";
  src: url("./fonts/nashville.ttf");
}

header {
  & h1 {
    font-family: "nashville";
  }

  & div {
    position: absolute;
    padding: .3rem;
    top: 0;
    right: 0;

    & img {
      height: 2rem;
      width: auto;
    }
  }
}

.splash {
  margin-top: 6rem;

  h1 {
    letter-spacing: 1px;
    font-size: 3rem;
    line-height: 1.2;
    color: white;
    text-align: center;
  }


}

.splash-gone {
  height: 2.5rem;
  text-align: center;
  font-size: .8rem;

  h1 {
    margin-top: 0.5rem;
    color: white;
  }

  br {
    content: ' ';
  }

  br:after {
    content: ' ';
  }
}

.search-row span {
  color: white;
}


p h1 h2 h3 {
  font-family: Arial, Helvetica, sans-serif;
}